*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	  background: url(img/dancing.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.welcome-screen h1{
    font-family: 'Bree Serif', serif;
	color:black;
	background:dodgerblue;
	opacity:0.8;
	border-radius:12px;
	    font-size: 60px;
}
.welcome-screen h3{
    font-family: 'Bree Serif', serif;
	color:black;
	background:dodgerblue;
	opacity:0.8;
	border-radius:12px;
	    font-size: 37px;
}
.welcome-screen button{
border-radius:5px;
 padding:5px;
}
.welcome-screen input{
	cursor:pointer;
border-radius:5px;
 padding:5px;
 padding:5px;
 text-transform:capitalize;
}
.error {
    border: 2px solid red;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;

	  background: url(img/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main header {
    height: 70px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;

}

.main .content {
    flex:1;
    background: transparent;
    color: antiquewhite;
}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none !important;
}
.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}
.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 2.4rem;
    margin-top: 4px;
    margin-bottom: 0;
	cursor:pointer;
    color: yellow;
    font-family: 'Merienda', cursive;
}

.current-song-album {
    font-size: 16px;
    margin-top: 0.4rem;
	cursor:pointer;
    color: yellow;
    font-family: 'Merienda', cursive;
}
.hidden {
    display: none;
}

.right.floated {
	font-size:24px;
    float: right;
	cursor:pointer;
        color: tomato;
    font-family: 'Merienda', cursive;
}
#demo{
	float:left;
	font-size:20px;
	cursor:pointer;
        color: tomato;
    font-family: 'Merienda', cursive;
}
.backbutton{

margin-top: -30px;
    margin-left: 19px;
}
.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: rgba(185, 186, 216, 0.51);
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
	cursor:pointer;
    color: tomato;
font-family: 'Rancho', cursive;
        font-size: 20px;
}

.list-headers > div {
    width: 100px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}



.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
        color: turquoise;
        font-size: 18px;
    font-family: 'Rancho', cursive;
}

.song > span {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
	padding-left: 0;

}
.song > span:last-child {
    width: 300px;
}
.song > div:nth-last-child(7)-child{
    width: 100px;
    text-align: center;
}


.song-list .song:hover :focus {
    background-color: #282828;
}


.song-length {
    text-align: right;
}
/*css for play pause and other button*/
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}

#volumeslider{
	position:relative;
	left:-14px;
	top:8px;
	width:80px;

}
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {

  margin-top:-15px;
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;

}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 14px;
  width: 16px;
  border-radius: 78%;
  background:white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  position:relative;
  top:5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {

    margin-top:-15px;
  width: 100%;
  height:5px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 100%;
  background: grey;
  cursor: pointer;
}
input[type=range]::-ms-track {

    margin-top:-15px;
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.total-songs{
    margin-bottom: 18px;
	font-size:20px;
	cursor:pointer;
        color: yellow;

}
.input-container{

    margin: 4px 0;

    height: 28px;
}
.input-container > input{
    width: 100%;
    border-radius: 2px;
}
.song-list .song:hover {
    background-color: #282828;
}
.song-length {
    text-align: left;
}
.song-name , .song-artist , .song-lyrics, .song-album, .song-length, .song-video, .song-duration {
    text-align: left;
    height: 18px !important;
}
.song-video {
    text-align: left;
    width: 150px !important;
}
.song-lyrics{
    text-align: left;
    margin-left: 0 !important;
}
.song a{
    text-align: left;
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
    color: #F1F1F1;
    text-decoration: none;
    height: 18px !important;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: black;
    font-size: 20px;
}
#replace-song {
    color: #333;
    background-color: #0ed9fa;
    border-color: #ccc;
}
.modal-footer {
    padding: 15px;
    /* text-align: right; */
    /* border-top: 1px solid #e5e5e5; */
}
.mk {
    color: blue;
    font-size: 18px;
}

#loading {
     width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("img/giphy.gif") no-repeat center center rgba(0,0,0,0.25)
}










/* Media Queries */

/* For example, older phones */
@media only screen and (min-width: 320px) {
    aside {
        display: none;
    }

    section.showslisting {
        width: 100%;
    }

    .showdescription {
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    
    .main .content {
    width: 100%;
    margin: 2rem auto;
}
/*
    
  img, iframe, object, embed, video {
    width: 100%;
    max-width: 100%;
}
  */
    .welcome-screen h1 {
    color: black;
    background: dodgerblue;
    opacity: 0.8;
    border-radius: 12px;
    font-size: 20px;
}
    
    .welcome-screen h3 {
    color: black;
    background: dodgerblue;
    opacity: 0.8;
    border-radius: 22px;
    font-size: 18px;
}
    
  #volumeslider {
    position: relative;
    left: -9px;
    top: 8px;
    width: 67px;
}  
    #soundchk {
        margin: auto;
    } 
    
    .right.floated {
    font-size: 12px;
    float: right;
    cursor: pointer;
}
    
    .main header {
    height: 60px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}
    .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;

	  background: url(img/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    
    .main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
    width: 100%;
}
    

    .backbutton {
margin-top: -100px;
    margin-left: -15px;
}  
    #demo {
    float: left;
    font-size: 10px;
    cursor: pointer;
}
    .fa-volume-up {
    margin-left: 0;
}
    
    
    .fa-microphone:{
    margin-left: 0;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}



